---
# tasks file for beid
# Include variables and define needed variables.
- name: Include OS-specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"

# Setup/install tasks.
- include: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

#- include: setup-Suse.yml
#  when: ansible_os_family == 'Suse'

- include: setup-Debian.yml
  when: ansible_os_family == 'Debian'
